* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    background-color: black;
    color: white;
}
#campo {
    width: 50%;
    margin: auto;
    margin-bottom: 3%;
}
#check-boxes {
    width: 50%;
    margin: auto;
}
#check-boxes label {
    display: block;
}
#botoes {
    display: flex;
    justify-content: center;
}
#resultado {
    width: 50%;
    margin: auto;
}